---
import Layout from '../../../../layouts/Layout.astro';
import PlayerCard from '../../../../components/PlayerCard.astro';
import jogadoresData from '../../../../data/jogadores.json';

export async function getStaticPaths() {
  const combinacoes = [...new Set(jogadoresData
    .filter(j => j.escalao !== 'Seniores')
    .map(j => `${j.escalao}|${j.epoca}`))];

  return combinacoes.map(c => {
    const [escalao, epoca] = c.split('|');
    return {
      params: { escalao, epoca },
      props: { jogadores: jogadoresData.filter(j => j.escalao === escalao && j.epoca === epoca) }
    };
  });
}

const { escalao, epoca } = Astro.params;
const { jogadores } = Astro.props;
const jogadoresOrdenados = jogadores.sort((a, b) => a.numero - b.numero);
---
<Layout title={`${escalao} - ${epoca}`}>
  <section class="max-w-7xl mx-auto px-4 py-12">
    <header class="mb-12 border-l-4 border-orange-500 pl-6">
      <h1 class="text-4xl font-black uppercase">{escalao}</h1>
      <p class="text-zinc-400">{epoca?.replace('-', '/')}</p>
    </header>
    <div class="mt-8 mb-8">
      <a href={`/formacao/${escalao}/${epoca}`} class="text-orange-500 hover:underline">← Voltar a {escalao +" " + epoca}</a>
    </div>
    <div class="grid grid-cols-3 md:grid-cols-2 lg:grid-cols-7 gap-6">
      {jogadoresOrdenados.map(j => <PlayerCard {...j} />)}
    </div>
  </section>
</Layout>